div{
    width: 600px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
}
p{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: -1px;
}
button{
    
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 130px;
    
}
.btn{
    background-color: #2663eb;
   
    color: #e0e7fe;
    margin-left: 160px;
    
    
}
.start{
    margin-left: 10px;
}
