body{
   background-color: #f5d5af;
    margin: 0;
    text-align: center;
    line-height: 40px;
    font-family: 'keina', serif;
    letter-spacing: -1px;
}
.calypse{
    font-size: xx-large;
    position: absolute;
    left: 20px;
    top: -10px;
}
.h1{
    margin-top: 100px;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color: #66bfbf;

}
h2{
    font-family: 'Zen Dots', cursive;
    font-size: 2.5rem;
    line-height: 2;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}
.intro{
    width: 30%;
    margin: auto;
}
.iam{
    margin-top: 100px;
    font-family: 'Keina', cursive;
}
h3{
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    color: #11999e;
}
 li{
    display: inline;
    float: left;
    margin: 10px 0 10px ;
    padding-right: 20px;
    
  
}

ul {
    display: inline;
    margin-left: 5px;
}

p{
    margin-top:0;
    font-size: 17px;
    line-height: 2;
    font-family: 'Libre Baskerville', serif;

}
.navlist{
    background-color:rgba(91, 206, 225, 0.08) ;
    box-shadow: 0 4px 2px -2px #f5d5af;
    width:30px;
    
}
nav{
    
        position: absolute;
        top: 0;
        width: 90vw;
    
}
.navbuttons:hover{
    color: #30e3cb;
    border-bottom:solid 2px #11999e;
}
.navbuttons{
    color: aliceblue;
}



.menu{
    position: absolute;
    right: -10px;
    
    
}
.navbar {
    background-color: rgba(91, 206, 255, 0.08);
    box-shadow: 0 4px 2px -2px rgb(239, 118, 118);
    width: 100vw;
}
.middle-container{
    margin: 100px 0;
}

.profile-image{
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 25%;
    width: 25%;
}
.left{
    border-radius: 100%;
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.right{
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.crew-row{
    width: 75%;
    text-align: left;
    margin: 100px auto 100px auto;
    line-height: 1;
}
hr{
    border: dotted rgba(224, 59, 59, 0.685) 10px;
    width: 10%;
    border-bottom: none;
    margin: 100px auto 100px auto;
}

.crewmates{
    height: 100vh;
    width: 160vh;
}
